---
---

<footer class="text-sm leading-[1.75] mt-4">
  <div class="sm:flex sm:items-center sm:justify-between">
    <a
      class="unset hover:text-text-link"
      href="https://www.linkedin.com/in/fabrizio-pace/"
      aria-label="Fabrizio on LindedIn"
      target="_blank"
    >
      <i
        class="fa-brands fa-linkedin text-xl"
        aria-hidden="true"
        title="Fabrizio on LindedIn"></i>
    </a>
    <a
      class="unset hover:text-text-link"
      href="https://github.com/fabriziopace"
      aria-label="Fabrizio on GitHub"
      target="_blank"
    >
      <i
        class="fa-brands fa-github text-xl"
        aria-hidden="true"
        title="Fabrizio on GitHub"></i>
    </a>
    <a
      class="unset hover:text-text-link"
      href="https://community.neptune-software.com/users/fabriziopace"
      aria-label="Fabrizio on Neptune Software Community"
      target="_blank"
    >
      <i
        class="fa-solid fa-neptune text-xl"
        aria-hidden="true"
        title="Fabrizio on Neptune Software Community"
      >
        <i
          class="fa-regular fa-neptune-content size-neptune-icon-navbar"
          aria-hidden="true"
          title="Fabrizio on Neptune Software Community"></i></i
      >
    </a>
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
      >2023 - <a href="/">Fabrizio Pace</a>
    </span>
    <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
      <a
        class="unset hover:text-text-link"
        href="/"
        aria-label="Privacy Policy"
        target="_blank"
      >
          <span class="whitespace-nowrap">Privacy Policy</span>
      </a>
      <a
        class="unset hover:text-text-link"
        href="/"
        aria-label="Privacy Policy"
        target="_blank"
      >
          <span class="whitespace-nowrap">Cookie Policy</span>
      </a>
    </div>
  </div>
</footer>

<style>
  .gradient-link {
    position: relative;
    box-decoration-break: clone;
    text-decoration: none;
  }

  .gradient-link:hover:after {
    transform: translateZ(0) scale(1);
  }

  .gradient-link:after {
    left: 0;
    right: 0;
    bottom: -2px;
    content: "";
    height: 2px;
    position: absolute;
    transform: translateZ(0) scaleX(0);
    transform-origin: left center;
    transition: all 0.15s ease-in-out;
  }

  .size-neptune-icon-navbar {
    font-size: 9px;
    line-height: 1.75rem;
    top: 0px;
    right: 1px;
    width: 8px;
    height: 8px;
  }
</style>
