---
---

<div>
  <p>Interests:</p>
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >Neptune Software</span
  >
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >SAPUI5</span
  >
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >JavaScript</span
  >
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >Astro</span
  >
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >Node.js</span
  >
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >ABAP</span
  >
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >TypeORM</span
  >
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >Cordova</span
  >
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >CSS</span
  >
  <span
    class="bg-[#262626] text-white font-bold px-2.5 py-0.5 rounded dark:bg-primary-main dark:text-bg-body"
    >Redis</span
  >
</div>
