---
import Socials from "./Socials.astro";
---

<section class="mb-8">
  <div class="banner-intro">
    <div class="effect-slide">
      <img src="/images/tokyotower.jpg" alt="Tokyo Tower" title="" width="750" height="200" />
    </div>
  </div>
  <div class="mb-6">
    <h1
      class="font-bold uppercase text-center text-4xl md:text-5xl xtracking-tighter py-6 overflow-hidden"
    >
      <span
        class="bg-gradient-to-br from-[#334155] via-[#1e293b] to-[#0f172a] dark:from-primary-main dark:via-primary-main dark:to-primary-main bg-clip-text text-transparent"
      >
        こんにちは!
      </span>
    </h1>
    <div
      class="border-b-[1px] border-t-[1px] border-current py-4 px-2 flex items-center justify-center gap-1 sm:justify-between justify-between"
    >
      <div class="flex items-center">
        <img
          class="rounded-full mr-4"
          src="/images/profilepicture.webp"
          alt="Avatar of Fabrizio Pace"
          width="50"
          height="50"
          loading="lazy"
        />
        <div class="text-sm">
          <p class="leading-none font-bold">Fabrizio Pace</p>
          <p class="text-xs">Full Stack Developer</p>
        </div>
      </div>
      <div class="ml-2 whitespace-nowrap">
        <Socials />
      </div>
    </div>
  </div>
  <div>
    <p class="mb-8">
      Hello! I am Fabrizio, a Full Stack Developer working at <a
        href={"https://jdtech.it"}
        aria-label="Jdtech Website"
        target="_blank">Jdtech</a
      >.
    </p>
    <p class="mb-8">
      Over the years I gained strong technical skills as well as excellent
      interpersonal skills, enabling me to interact with a wide range of people.
    </p>
    <p class="mb-8">
      More than {new Date().getFullYear() - 2015} years of experience managing Neptune Software, SAP and
      JavaScript frameworks with aim to develop responsive and multi-platform
      apps.
    </p>
    <p class="mb-8">
      I love learning new technologies and sharing knowledge in the <a
        href={"https://community.neptune-software.com/users/fabriziopace"}
        target="_blank"
        aria-label="Neptune Software Community">Neptune Software Community</a
      >.
    </p>
  </div>
</section>

<script>
  const bannerEl = document.querySelector("div.banner-intro");
  if (bannerEl) {
    // instead hover change the color on click
    bannerEl.addEventListener("click", () => {
      const effectDiv = document.querySelector("div.effect-slide");
      if (effectDiv) {
        const classList = effectDiv.classList;
        if (classList.contains("effect-slide-in")) {
          // with colors
          classList.add("effect-slide-out");
          classList.remove("effect-slide-in");
        } else {
          // black and white
          classList.add("effect-slide-in");
          classList.remove("effect-slide-out");
        }
      }
    });
  }
</script>

<style>
  .effect-slide {
    position: relative;
    display: inline-block;
    overflow: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
  }

  .effect-slide:before {
    width: 100%;
    height: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    mix-blend-mode: hue;
    background: linear-gradient(150deg, black 99%, transparent 1%);
    transform: scale(1);
    transform-origin: right bottom;
    animation: slide-right-left 1s linear 1 forwards;
    animation-delay: 0.5s;
  }

  /* .effect-slide:hover::before {
    animation: slide-left-right 1s linear 1 forwards;
  } */

  .effect-slide-in::before {
    animation: slide-left-right 1s linear 1 forwards;
    animation-delay: 0s;
  }
  .effect-slide-out::before {
    animation: slide-right-left 1s linear 1 forwards;
    animation-delay: 0s;
  }

  @keyframes slide-right-left {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(100);
    }
  }
  @keyframes slide-left-right {
    0% {
      transform: scale(100);
    }
    100% {
      transform: scale(1);
    }
  }
</style>
