---
---

<a
  class="unset hover:text-text-link mr-2"
  href="https://www.linkedin.com/in/fabrizio-pace/"
  aria-label="Fabrizio on LinkedIn"
  target="_blank"
>
  <i
    class="fa-brands fa-linkedin text-xl"
    aria-hidden="true"
    title="Fabrizio on LinkedIn"></i>
</a>
<a
  class="unset hover:text-text-link mr-2"
  href="https://github.com/fabriziopace"
  aria-label="Fabrizio on GitHub"
  target="_blank"
>
  <i
    class="fa-brands fa-github text-xl"
    aria-hidden="true"
    title="Fabrizio on GitHub"></i>
</a>
<a
  class="unset hover:text-text-link"
  href="https://community.neptune-software.com/users/fabriziopace"
  aria-label="Fabrizio on Neptune Software Community"
  target="_blank"
>
  <i
    class="fa-solid fa-neptune text-xl"
    aria-hidden="true"
    title="Fabrizio on Neptune Software Community"
  >
    <i
      class="fa-regular fa-neptune-content"
      aria-hidden="true"
      title="Fabrizio on Neptune Software Community"></i></i
  >
</a>
